{% extends "ipl/base.html" %}

{% block main_content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Year", "Matches", { role: "style" } ],
        ["2017", 59, "gold"],
        ["2008", 62, "gold"],
        ["2009", 68, "gold"],
        ["2010", 52, "gold"],
        ["2011", 78, "gold"],
        ["2012", 63, "gold"],
        ["2013", 59, "gold"],
        ["2014", 57, "gold"],
        ["2015", 67, "gold"],
        ["2016", 56, "gold"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "No. of Matches played each year",
        width: 1250,
        height: 600,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
<div id="columnchart_values" style="width: 900px; height: 300px;"></div>

{% endblock %}